body
{
  margin: 0px;
  font-size: 30px;

}
body::-webkit-scrollbar { 
  display: none; 
}
/*header*/
#body-header
{
  height: 65vh;
  background-image: url(images/macbook_mouse.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
  padding-top: 1.2rem;
}

/*Navbar Responsive*/
.bars
{
  color: white;
  margin: 0;
  margin-right: 5%;
  display: none;
}
.bars i
{
  font-size: 2rem;
}
.dropdown-list{
  margin: 0;
  display: none;
  background-color: #828470;
  box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
  margin: 0.2rem 0.2rem;
  text-align: left;
  padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
  display: block;
  position: absolute;
  right: 3%;
}

.dropdown-list li{
  margin: 0.4rem 0px;
}

.no-list-style{
  list-style: none;
}
.no-list-style li {
  font-weight: 100;
  font-size: 0.9rem;
}

.no-list-style li a{
  list-style: none;
  color: white;
  text-decoration: none;
}

/*nav bars*/
.horizontal-list
{
  padding-left: 0px;
  margin: 0px;
  
}
.horizontal-list li
{
  display: inline-block;
  margin: 0px 8px 8px 0px;
}
.horizontal-list a i
{
  color: whitesmoke;
}
.nav-menu li a
{
  transition: color 0.5s, border-bottom 4s;
}
.nav-menu li a:hover
{
  color:lightgrey;
  border-bottom: 1px solid black;
}
.text-center
{
  text-align: center;
}

/* Name and Social Icons*/
#name-social-container
{
  margin-top: 20vh;
}
#my-name
{
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
/*social icons*/
.social-icons li a i
{
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;

}
.social-icons li a i:hover
{
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
  /*horizontal-offset(0 equal on all sides) vertical-offset(0 equal on all sides) blur spread color*/
}
#about
{
  height: auto;
  width: 100%;
  position: relative;
  /*to bring pic at top*/
}
#my-img 
{
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -17vh; 
  /*negative margin lifts the picture up*/
}
#my-img img
{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
  padding: 10px;
  width: 70%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: grey;
  line-height: 28px;
  font-size: 1.1rem;
  margin: auto;
}

.text-highlight {
  color: #2857a4;
  font-weight: 600;
}

/*common margin classes*/
.mb50px {
  margin-bottom: 50px;
}
.mb75px
{
  margin-bottom: 75px;
}

/*common color classes*/
.mb-darkgreen
{
  background-color: darkgreen;
}
.mb-green
{
  background-color: rgb(38, 156, 38);
}
.mb-yellow
{
  background-color: rgb(175, 175, 87);
}
.mb-lightyellow
{
  background-color: rgb(209, 209, 56);
}
.mb-orange
{
  background-color: rgb(184, 130, 29);
}
.mb-coral
{
  background-color: rgb(165, 96, 71);
}

/*skills*/
section
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*even sections*/
section:nth-child(2n)
{
  background-color: whitesmoke;
}
/*odd sections*/
section:nth-child(2n+1)
{
  background-color: white;
}

.section-heading
{
  width: auto;
  padding: 20px 10px 10px;
  margin: 20px 10px 10px;
  font-weight: 400;
}
.section-heading span
{
  font-size: 40px;
  color: rgb(71, 71, 189);
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
}
.skills-display
{
  width: 70%;
  padding: 20px;
  margin-bottom: 30px;
  /*height: 100px;*/
  /*border: 2px solid black;*/ 
  display: flex;
  flex-wrap: wrap;
  /*to adjust space between skills accordingly*/
  justify-content: space-evenly;
  
}
.skill-progress
{
  width: 11rem;
  height: 2.3rem;
  background-color: rgb(218, 214, 214);
  border-radius: 1.2rem;
  margin: 30px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px #b9b9b9 inset ;
}
.skill-progress>div
/*It affects direct child of div*/
{
  border-radius: 20px 0px 0px 20px;
  box-shadow: 1px 1px 5px 2px #989882;
}
.skill-name span
{
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  vertical-align: middle;
}
/*Percentage class*/
.eighty-five-percent
{
  width: 85%;
  height: inherit;
  color: white;
}
.eighty-percent
{
  width: 80%;
  height: inherit;
  color: white;
}
.sixty-percent
{
  width: 60%;
  height: inherit;
  color: white;
}
.sixty-five-percent
{
  width: 65%;
  height: inherit;
  color: white;
}

.seventy-percent
{
  width: 70%;
  height: inherit;
  color: white;
}


/*Experience Timeline*/
.timeline
{
  width: 75%;
  position: relative;

}
.timeline-box
{
  position: relative;
  padding: 5px;
  width: 40%;
  left: 5%;
  min-height:150px;
  text-align: right;

}
/*for timeline dots*/
.timeline-box::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightgrey;
  top: 25%;
  border-radius: 50%;
  z-index: 1;
}
.timeline-box:nth-child(2n)
{
  left: 53%;
}
.timeline-box:nth-child(2n+1)::after {
  right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
  left: -9%;
}
.timeline-container {
  padding: 8px;
}
.timeline-logo {
  position: absolute;
  width: 30px;
  overflow: hidden;
}
.timeline-logo > img {
  width: 75%;
}

#timeline-divider {
  position: absolute;
  height: 80%;
  width: 0;
  top: 10%;
  left: 50%;
  border: 2px dashed #0096fa6b;
  color: #433E3F;
}
#timeline-divider .timeline-traveller {
  position: sticky;
  top:135px;
  z-index: 2;
}
#timeline-divider i {
  transform: rotate(90deg);
  margin-top: -35px;
  display: block;
  color: #2857a4;
}



.experience-designation {
  font-size: 1.2rem;
}

.experience-company-name {
  margin: 5px 0 0;
  color: #eb822d;
  font-weight: 400;
  font-size: 1.2rem;
}

.experience-duration {
  color: #9e9b9b;
  font-weight: 100;
  color: grey;
  font-size: 1rem;
}

.experience-description {
  font-size: 14px;
  padding: 2px;
  color: grey;
  line-height: 20px;
}

.text-align-end
{
  text-align: end;
  font-size: 20px;
  font-weight: 100;
  color: #4d3d40;
}

.text-align-justify {
  text-align: justify;
}


/*Portfolio section*/
#portfolio-container
{
  box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.portfolio-image-container
{
  max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.portfolio-image-container img {
  width: 100%;
  height: 100%;
}
.portfolio-details
{
  transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 20px;
}
.portfolio-image-container:hover {
  box-shadow: 0 0 20px #74ADC8;
}
.portfolio-image-container:hover .portfolio-details {
  background-color: #80808078;
  color: white;
}

/*Contact form*/
#contact
{
  padding-top: 40px ;
  background-color: #0abcf9;
  background-image: linear-gradient(50deg,#2857a4 0%, #403066 75%);
  color: white;
  padding-bottom: 40px;
}
#contact h1,
#contact h1 span {
    color: white;
}
#contact-form {
  margin-left: 20%;
}
#contact-container {
  display: flex;
}
#my-details-container {
  width: 35%;
  margin-left: 6%;
}
#my-details-container h3 {
  color: white;
  font-weight: 550;
  font-size: 1.2rem;
}
#contact-form-container {
  width: 50%;
}
#my-details-container p {
  color: #d9dcdd;
  font-size: 0.9rem;
}
.my-details-info-container {
  margin-bottom: 20px;
  color: #d9dcdd;
  font-size: 1rem;
}
.my-details-info-container span {
  margin-left: 0.4rem;
}
.my-details-info-container i {
  color: white;
}

.my-details-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}
#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
#contact-form button[type="submit"] {
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

#contact-form button:hover {
  background: white;
  color: #13386fe0;
}
#contact .social-icons li a i {
  font-size: 1.2rem;
  margin: 40px 10px 10px;
  padding: 10px 14px 20px 10px;

}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline:none;
}
/* Common Text Align Classes */

.text-right{
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/*responsive navbar*/
@media only screen and (max-width: 572px) {
    
  .timeline-box {
      width: 100%;
      left: 10% !important;
  }

  .bars {
      display: block;
  }
  
  
  .nav-menu {
      display: none;
  } 
}

/*responsive experience*/

@media only screen and (max-width: 768px) {


  .timeline-box {
      width: 90%;
      left: 10% !important;
  }

  .timeline-box::after {
      left: -9.3% !important;
  }

  #timeline-divider {
      top: 10%;
      left: 2%;
  }

  #contact-form {
      margin-left: 0%;
  }

  #contact-container {
      flex-wrap: wrap;
  }

  #my-details-container {
      width: 80%;
      margin: 10%;
  }

  #contact-form-container {
      width: 80%;
      margin: 10%;
  }

}